# Python cache directories
__pycache__/
**/__pycache__/

# Compiled Python files
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
**/build/
**/dist/

# Virtual environments
venv/
.env/

# Idea enviroment
demo/.idea/

# Data and Outputs
Output/
Output/EGIF/
Output/AEMET/
Output/Dataset/
Output/modelo/
Output/resultados/

# Ignore sensitive config files if you don't want them tracked
# data/config.json
data/APIs.json

# MacOS
.DS_Store
